


.email-sect {
    width: 100%;
    /* display: flex;
    justify-content: space-around; */
}
.email-con {
    width: 50vw;
    margin: auto;
    background-color: var(--col2-con);
    padding: 2em;
    margin-top: 50px;
    border-radius: 30px;
}
.top-email {
    width: 100%;
}
.bottom-email {
    width: 100%;
}
.name {
    width: 100%;
}
.input-name {
    width: 46.3vw;
    border-radius: 10px;
    border: none;
    margin: 3px 10px 10px 0;
    padding: 12px;
    font-size: 15px;
    background-color: var(--col1-bg);
}
.input-email {
    width: 46.3vw;
    border-radius: 10px;
    border: none;
    margin: 3px 10px 10px 0;
    padding: 12px;
    font-size: 15px;
    background-color: var(--col1-bg);
}
.bottom-email {
    width: 100%;
}
.input-msg {
    background-color: var(--col1-bg);
    width: 100%;
    border-radius: 10px;
    border: none;
    margin: 3px 10px 10px 0;
    padding: 12px;
    box-sizing: border-box;
    height: 100px;
    resize: none;
    font-size: 15px;
}
.label {
    color: var(--col1-bg);
}
.send-email-btn {
    padding: 12px;
    border-radius: 10px;
    border: none;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    color: var(--col1-bg);
    background-color: var(--col3-nav);
}
.send-email-btn:hover {
    background-color: var(--col4);
}
.other-sect {
    width: 100%;
}
.other-con {
    width: 50vw;
    margin: auto;
    background-color: var(--col2-con);
    padding: 1em 2em 1em 2em;
    margin-top: 50px;
    border-radius: 30px;
}
.other-con .con {
    margin: 10px 10px;
    align-items: center;
    width: 100%;
}
.con .label {
    padding: 5px;
    width: 30%;
}
.other-con .con a {
    color: var(--col1-bg);
    text-decoration: none;
    padding: 10px;
    width: 70%;
    border-radius: 10px;
    border: none;
    background-color: var(--col3-nav);
    cursor: pointer;
    text-align: center;
}
.other-con .con a:hover {
    background-color: var(--col4);
}

@media screen and (max-width:700px) {
    .other-con .con a {
        width: 50%;
    }
    .other-con .con {
        display: flex;
        justify-content: space-between;
        /* width: 30%; */
        position: static;
    }
}
@media screen and (max-width:530px) {
    .other-con .con a {
        width: 30%;
    }
    /* .con .label {
        width: 10%;
    } */
    .other-con {
        height: 170px;
    }
    .other-con .con {
        display: flex;
        justify-content: space-between;
        /* width: 30%; */
        position: static;
    }
}
