
.sect {
    width: 100%;
    margin-top: 50px;
}
.top-con-one {
    width: 50vw;
    background-color: var(--col2-con);
    color: var(--col1-bg);
    margin: auto;
    padding: 1em;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}
.top-con-one img {
    width: 100%;
    border-radius: 20px;
}
.top-con-one h2 {
    width: 100%;
    margin: 0;
    font-size: 3vw;
}
.bottom-con-one {
    width: 50vw;
    background-color: var(--col2-con);
    color: var(--col1-bg);
    margin: auto;
    padding: 1em;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    position: relative;
    z-index: -1;
    display: none;
}
.bottom-con-one p {
    margin: 0;
    font-size: 2vw;
}
.bottom-con-one #one-arrow-up-cta {
    font-size: 3vw;
    cursor: pointer;
}
.bottom-con-one #one-arrow-up-cta:hover {
    color: var(--col4);
}

.bottom-con-one #two-arrow-up-cta {
    font-size: 3vw;
    cursor: pointer;
}
.bottom-con-one #two-arrow-up-cta:hover {
    color: var(--col4);
}

.bottom-con-one #three-arrow-up-cta {
    font-size: 3vw;
    cursor: pointer;
}
.bottom-con-one #three-arrow-up-cta:hover {
    color: var(--col4);
}

.bottom-con-one #four-arrow-up-cta {
    font-size: 3vw;
    cursor: pointer;
}
.bottom-con-one #four-arrow-up-cta:hover {
    color: var(--col4);
}